:root {
  --primary-color: #205295;
  --border-color: #205295;
  --input-width: 24px;
  --cell-padding: 8px;
  --shadow-color: #2052952b;
}

@media screen and (min-width: 662px) {
  :root {
    --input-width: 40px;
    --cell-padding: 10px;
  }
}

html {
  font-size: 14px;
  --sudoku-width: calc(
    var(--input-width) * 9 + var(--cell-padding) * 8 + 2px + var(--cell-padding) *
      2 + var(--cell-padding) * 2
  );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  padding: 1rem;
}

@media screen and (min-width: 662px) {
  html {
    font-size: 16px;
  }

  body {
    padding: 2rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: inherit;
}
